.header-grid {
  background-color: beige;
}
.griddiv {
  border: 1px solid white;
  font-size: medium;
  overflow: hidden;
  max-height: 26px;
}
.grid .grid-row {
  background-color: aqua;
}
.grid .grid-row:nth-child(odd) {
  background-color: #66ffff;
}
.grid .grid-row:hover {
  background-color: #cc0000;
}