body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 70px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  height: 100%;
}
.body-content iframe {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 1000px;
  height: 550px;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
  max-width: 550px;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}
.footer {
  height: 70px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  opacity: 0.5;
}