@using System.Threading.Tasks
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>acces doar profi</p>

<script>
        System.import('app').catch(function (err) { console.error(err); });
</script>
<my-app>Loading AppComponent content here ...</my-app>