@{
    ViewData["Title"] = "Home";
}
<iframe src='https://onedrive.live.com/embed?cid=EC0CDB3910029F83&resid=EC0CDB3910029F83%21103&authkey=AOauDWOu5YQ9Kyc&em=2&wdAr=1.7777777777777777'>
    This is an embedded
    <a target='_blank' href='https://office.com'>Microsoft Office</a>
    presentation, powered by <a target='_blank' href='https://office.com/webapps'>Office Online</a>.
</iframe>

<!--/ Main container-->
