@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model CMS.Domain.Models.Comment
  
     <form name="materie" id="materie" method="post">
    <li>Dati materia:</li>
    <input asp-for="message" type="text" id="materie" size="70" />

    <input name="submitmsg" type="submit" id="submitmsg" value="Send" />


</form>

