
@if (User.Identity.IsAuthenticated)
{
    <li>@User.Identity.Name</li>
    <li>
        <form asp-antiforgery="true" asp-controller="Account" asp-action="Logout" method="post">
           <input type="submit" Value="Logout"/>            
        </form>
    </li>
}
else
{
    <li><a asp-controller="Account" asp-action="">Register</a></li>
    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
}
